/* header top */
.header-top {
    height: 4rem;
    background: linear-gradient(90deg, rgba(255,144,1,1) 0%, rgba(255,86,27,1) 100%);
    border-bottom: 4px solid white;
    /* position: fixed;
    top: 0;
    width: 100%; */
}

/* .contact-offline {
    padding: 12px 0;
}

.contact-offline li {
    list-style: none;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    margin-right: 25px;
    top: 7PX;
    position: relative;
}

.contact-offline li .Icon {
    position: relative;
    left: -6px;
}

.contact-online {
    text-align: right;
    padding: 12px 0;
}

.contact-online a {
    color: #fff;
    font-size: 18px;
    display: inline-block;
    margin-right: 20px;
    position: relative;
    top: 7px;
} */
/* navbar */
.nav{
    display: flex;
    justify-content: space-between;
    height: 4rem;
}
.nav .logo{
    text-decoration: none;
    cursor: pointer;
    margin: auto;
    padding-top: 6px;
    width: 50px;
    height: 50px;
}

.nav ul{
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    padding: 0;
    margin: auto;

}
.nav li{
    display: flex;
    align-items: center;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 18px;
}
.nav li a{
    text-decoration: none;
    color: #fff;
}
.btn{
    display: flex;
    /* margin: 1rem 0; */ 
    justify-content: space-between;
    
    
}
.btn button{
    width: 5.5rem;
    height: 2.5rem;
    font-size: 18px;
    font-weight: 200;
    background-color: #fff;
    color: #b46346;
    align-items: center;
    margin: auto 0.5rem;
    padding: 0.5rem 0.8rem;
    border: 0px solid #4682B4;
    border-radius: 7px;
    cursor: pointer;
    
}