    <!-- header top -->
    <section class="header-top">
        <div class="container">
            <nav class="nav">
                <a><img class="logo" routerLink="/" src="assets/logo.png" ></a>  
                <ul>
                    <li><a routerLink="/profit-predict">Predict Profit</a></li>
                    <li><a routerLink="/bankruptcy-predict" >Predict Bankruptcy</a></li>
                    <li><a routerLink="/calculators" >Calculators</a></li>
                    <!-- <li class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Calculators</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">EMI</a></li>
                          <li><a class="dropdown-item" href="#">SIP</a></li>
                        </ul>
                    </li> -->
                </ul>
                <div class="btn">
                    <button routerLink="/blog">Blog</button>
                    <button routerLink="/profile">Profile</button>
                </div>
            </nav>
        </div>
    </section>
    <!-- navbar -->
    