/* body{
    margin:0;
    font-family:Tahoma;
    font-size:16px;
    background-image:url("/assets/bankruptcy.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
} */
.first-body{
  background-image: url("/assets/3409297.jpg");
}
  main{
    background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    /* border-radius:10px; */
    width:70%;
    padding:30px 0 30px 0;
    margin:auto;
    /* background-color:#4682B4; */
  }
  h1{
    text-align:center;
    padding-top:2rem;
    color:#fff;
    font-weight: 700;
    
  }
  #description{
    text-align:center;
    margin-bottom:4rem;
    color:#fff;
  }
  fieldset{
    border:none;
    padding:0 6% 0 6%;
  }
  input,textarea,select {
    padding-left:10px;
    width: 100%;
    min-height: 2.5rem;
    border-radius:4px;
    border: 0px;
  }
  label{
    color:white;
    display:block;
    margin-bottom:1rem;
  }
  label p{
    margin: auto;
  }
  .inline{
    width:unset;
    margin: 0 0.5em 0 0;
    vertical-align:middle;
  }
  #predictButton{
    display:block;
    margin:1em auto;
    width:25%;
    height:45px;
    border-radius:6px;
    border:2px solid white;
    background: linear-gradient(90deg, rgba(255,144,1,1) 0%, rgba(255,86,27,1) 100%);;
    color:white;
    font-size:18px;
    font-style:bold;
  }