/* body{
    margin:0;
    background-color:darkblue;
    font-family:Tahoma;
    font-size:16px;
    background-image:url("https://images.unsplash.com/photo-1589149098258-3e9102cd63d3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1939&q=80");
  } */
  main{
    border-radius:10px;
    width:70%;
    padding:30px 0 30px 0;
    margin:auto;
    background-color:#4682B4;
  }
  
  h1{
    text-align:center;
    margin-top:2rem;
    color:#4682B4;
    font-weight: 700;
    
  }
  #description{
    text-align:center;
    margin-bottom: 2rem;
    color:black;
  }
  fieldset{
    border:none;
    padding:0 6% 0 6%;
  }
  input,textarea,select {
    padding-left:10px;
    width: 100%;
    min-height: 2.5rem;
    border-radius:4px;
    border: 0px;
  }
  label{
    color:white;
    display:block;
    margin-bottom:1rem;
  }
  label p{
    margin: auto;
  }
  .inline{
    width:unset;
    margin: 0 0.5em 0 0;
    vertical-align:middle;
  }
  #submit{
    display:block;
    margin:1em auto;
    width:25%;
    height:45px;
    border-radius:6px;
    border:2px solid white;
    background-color: #255c89;
    color:white;
    font-size:18px;
    font-style:bold;
  }