
<div class="user-auth">
    <div class="signup">
        <h1>User Sign-up</h1>
        <form action="" class="common-form">
            <input class="form-input" type="text" name="username" placeholder="Enter Name"/>
            <input class="form-input" type="password" name="password" placeholder=" Enter Password"/>
            <input class="form-input" type="text" name="email" placeholder="enter email id"/>
            <button class="form-button" type="submit">SignUp</button>
        </form>
    </div>
</div>