    
    <!-- banner section -->
    <!-- <section class="banner-section">
      <div class="container">
        <div class="row">
          <div class="col-lg">
            <div class="banner-content">
              <h5>Eiusmod tempor incididunt </h5>
              <h1>Take the world's best <br> financial Support</h1>
              <a class="btn btn-success btn-lg mt-4" href="#">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- Consultation section -->
    <section class="consultation-section">
      <div class="container">
        <div class="row">
          <!-- <div class="col-lg-4">
            <div class="consultation-item">
              <div class="card">
              <div class="card-body">
                <div class="card-title mt-5 text-1">REQUEST FOR YOUR</div>
                <div class="card-text mb-5 text-2">Consultation</div>
              
                  <div class="consultation-form text-center">
                    <form action="#">
                      <input class="form-control-sm mb-3" type="text" placeholder="Name">
                      <input class="form-control-sm mb-3" type="email" placeholder="Email">
                      <input class="form-control-sm mb-3" type="password" placeholder="password">
                    <select class="form-control-lg mb-3" aria-label=".form-control-lg">
                        <option selected>Type of Services</option>
                        <option value="1">Type of Services</option>
                      <option value="2">Type of Services</option>
                      <option value="3">Advanced Equeiment</option>
                      <option value="4">Advanced Equeiment</option>
                      <option value="5">Advanced Equeiment</option>
                    </select> 
                      <button type="submit" class="btn btn-danger btn-lg mb-5 button-1">Book appoitment</button>
                    </form>
                  </div>
              </div>
            </div>
            </div>
          </div> -->

          <div class="col py-5">
                <div class="Consultation-text">
                  <h5>Welcome to Fin Advisor</h5>
                  <h1>Take the world's best <br> financial Support</h1>
                  <p class="lead">We're here to empower you with the tools, knowledge, and insights you need to navigate the complex world of business finance. Join us on this exciting path to financial success, where your startup's future is our priority.</p>
                </div>
                <div class="Consultation-text">
                  <h5>Welcome to Fin Advisor</h5>
                  <h1>Take the world's best <br> financial Support</h1>
                  <p class="lead">We're here to empower you with the tools, knowledge, and insights you need to navigate the complex world of business finance. Join us on this exciting path to financial success, where your startup's future is our priority.</p>
                </div>
                <div class="Consultation-text">
                  <h5>Welcome to Fin Advisor</h5>
                  <h1>Take the world's best <br> financial Support</h1>
                  <p class="lead">We're here to empower you with the tools, knowledge, and insights you need to navigate the complex world of business finance. Join us on this exciting path to financial success, where your startup's future is our priority.</p>
                </div>
              </div>
              <div class="col py-5">
                <div class="Consultation-image">
                  <img src="assets/Mone.png" alt="image">
                </div>
              </div>
          </div>        
        </div>
    </section>

    <!-- Portfolio -->
    <!-- <section class="portfolio-section py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg">
            <div class="portfolio-section-text text-center">
              <h6>Why choose us?</h6>
              <h2>Offer for you</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="portfolio-item">
              <img src="assets/thomas-martinsen-4H9IuFBIpYM-unsplash.jpg" alt="">
              <h5>Advanced equipment</h5>
              <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="portfolio-item">
              <img src="assets/thomas-martinsen-4H9IuFBIpYM-unsplash.jpg" alt="">
              <h5>Qualified doctors</h5>
              <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="portfolio-item">
              <img src="assets/thomas-martinsen-4H9IuFBIpYM-unsplash.jpg" alt="">
              <h5>Certified services</h5>
              <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="portfolio-item">
              <img src="assets/thomas-martinsen-4H9IuFBIpYM-unsplash.jpg" alt="">
              <h5>Emergency care</h5>
              <p>Lorem ipsum amet, consectetur adipiscing elit, sed do eiusmod tempor cididunt facilisis.</p>
            </div>
          </div>
        </div>
      </div>
    </section> -->


    <!-- services section -->
    <section class="services-section py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg">
            <div class="portfolio-section-text team-text text-center">
              <h5>Our services</h5>
              <h1>Offer for you</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 py-5">
            <div class="services-item text-center">
                <h4>Bankruptcy Prediction</h4>
                <p>Discover the power of proactive financial decision-making with our bankruptcy prediction as a service. We use advanced machine learning models to assess your startup's financial health, providing you with valuable insights to safeguard your business from potential risks. </p>
            </div>
          </div>
          <div class="col-lg-6 py-5">
            <div class="services-item text-center">
                <h4>Profit Prediction</h4>
                <p>Elevate your startup's financial future with our profit prediction as a service. Our cutting-edge machine learning models forecast your profitability, helping you make informed decisions for sustainable growth and success. </p>
            </div>
          </div>
          <div class="col-lg-6  py-5">
            <div class="services-item text-center">
                <h4>Financial Calculators</h4>
                <p>Unlock the convenience of financial calculators as a service. Our suite of tools, including EMI calculators and more, simplifies complex financial calculations, empowering startups with easy, on-demand access to essential financial insights. </p>
            </div>
          </div>
          <div class="col-lg-6  py-5">
            <div class="services-item text-center">
                <h4>Others</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor aliqua. </p>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- team section -->
    <section class="team-section py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg">
            <div class="team-text text-center">
              <h6>Our Team</h6>
              <h1>Our Expert Members</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="team-item text-center">
              <img src="assets/Hemang.jpeg" alt="">
              <h5>Hemang Gawali</h5>
              <!-- <span>type role here</span> -->
              <div class="social-icon">
                <a href="#">
                    <i class="fab fa-facebook icon"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-twitter icon"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-instagram icon"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-dribbble icon"></i>
                  </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="team-item text-center">
              <img src="assets/Disha.jpeg" alt="">
            <h5>Disha Chouhan</h5>
            <!-- <span>Frontend Developer</span> -->
            <div class="social-icon">
              <a href="#">
                  <i class="fab fa-facebook icon"></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter icon"></i>
                </a>
                <a href="#">
                  <i class="fab fa-instagram icon"></i>
                </a>
                <a href="#">
                  <i class="fab fa-dribbble icon"></i>
                </a>
            </div>
            </div>
          </div>
          <div class="col">
            <div class="team-item text-center">
              <img src="assets/Mohit.jpeg" alt="">
            <h5>Mohit Soneja</h5>
            <!-- <span>Type Role here</span> -->
            <div class="social-icon">
              <a href="#">
                  <i class="fab fa-facebook icon"></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter icon"></i>
                </a>
                <a href="#">
                  <i class="fab fa-instagram icon"></i>
                </a>
                <a href="#">
                  <i class="fab fa-dribbble icon"></i>
                </a>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <!-- image portfolio -->
    <!-- <section class="image-portfolio">
      <div class="container-fluid container">
        <div class="row">
          <div class="col-lg-12 image-area">
            <div class="row">
              <div class="col-lg-4 py-3">
                <div class="image-portfolio-item">
                  <img src="assets/thomas-martinsen-4H9IuFBIpYM-unsplash.jpg" alt="">
                </div>
              </div>
              <div class="col-lg-4 py-3">
                <div class="image-portfolio-item">
                  <img src="assets/thomas-martinsen-4H9IuFBIpYM-unsplash.jpg" alt="">
                </div>
              </div>
              <div class="col-lg-4 py-3">
                <div class="image-portfolio-item">
                  <img src="assets/thomas-martinsen-4H9IuFBIpYM-unsplash.jpg" alt="">
                </div>
              </div>
              <div class="col-lg-4 py-3">
                <div class="image-portfolio-item">
                  <img src="assets/thomas-martinsen-4H9IuFBIpYM-unsplash.jpg" alt="">
                </div>
              </div>
              <div class="col-lg-4 py-3">
                <div class="image-portfolio-item">
                  <img src="assets/thomas-martinsen-4H9IuFBIpYM-unsplash.jpg" alt="">
                </div>
              </div>
              <div class="col-lg-4 py-3">
                <div class="image-portfolio-item">
                  <img src="assets/thomas-martinsen-4H9IuFBIpYM-unsplash.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="image-portfolio-right">
              <img src="assets/thomas-martinsen-4H9IuFBIpYM-unsplash.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- news section -->
    <!-- <section class="news section">
      <div class="container">
        <div class="row">
          <div class="col-lg">
            <div class="portfolio-section-text text-center">
              <h6>Our News</h6>
              <h1>Skin care tips</h1>
            </div>
          </div>
          <div class="news-right-button text-right d-flex justify-content-end">
            <a class="btn bg-danger btn-success-outline btn-lg text-white" href="#">View All News</a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="news-section-item">
              <h5>
                <a href="#">Here’s how you can get a natural glow this party season</a>
              </h5>
              <p>Lorem ipsum, consectetur adipiscing elit, sed do eiusmod tempor.</p>
              <ul>
                <li><img src="assets/thomas-martinsen-4H9IuFBIpYM-unsplash.jpg" alt="">John Doe</li>
                <li> Dec 06, 2019</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="news-section-item">
              <h5>
                <a href="#">Here’s how you can get a natural glow this party season</a>
              </h5>
              <p>Lorem ipsum, consectetur adipiscing elit, sed do eiusmod tempor.</p>
              <ul>
                <li><img src="assets/thomas-martinsen-4H9IuFBIpYM-unsplash.jpg" alt="">John Doe</li>
                <li> Dec 06, 2019</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="news-section-item">
              <h5>
                <a href="#">Here’s how you can get a natural glow this party season</a>
              </h5>
              <p>Lorem ipsum, consectetur adipiscing elit, sed do eiusmod tempor.</p>
              <ul>
                <li><img src="assets/thomas-martinsen-4H9IuFBIpYM-unsplash.jpg" alt="">John Doe</li>
                <li> Dec 06, 2019</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <section>
      <!-- <div class="row">
          <div class="col-lg">
            <div class="team-text text-center">
              <h6>Our Team</h6>
              <h1>Our Expert Members</h1>
            </div>
          </div>
        </div>
         -->
    </section>
    

    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  